body {
    display: grid;
    text-align: center;
    background-color: whitesmoke;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(23, 23, 23);
    opacity: 0.9;
}

button:hover{
    font-weight: bold;
}

table,
th,
td {
    border-width: 10px;
    border-color: black;
}

th{
    width: 300px;
}

.read{
    background-color: rgb(69, 134, 239);
    padding-inline: 10px;
    border-radius: 10%;
    border-style: solid;
    opacity: 0.8;
    margin-inline: 5px;
}

.delete{
    background-color: rgb(246, 169, 14);
    padding-inline: 10px;
    border-radius: 10%;
    border-style: solid;
    opacity: 0.8;
    margin-inline: 5px;
}

.update{
    background-color: rgb(246, 238, 14);
    padding-inline: 10px;
    border-radius: 10%;
    border-style: solid;
    opacity: 0.8;
    margin-inline: 5px;
}

.table-container {
    padding: 10px;
}

::backdrop {
    background-color: beige;
    opacity: 0.5;
}

.book-img {
    width: 200px;
}


.close-btn {
    display: block;
}

.modal-feedback {
    display: none; 
    position: fixed;
    left: 2%;
    top: 2%;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    background-color: rgba(15, 107, 1,0.8);
    color: whitesmoke;
    opacity: 0.6;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: grey;
    opacity: 0.8;
    width: 100%;
    justify-content: space-around
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-item{
    display: block;
    width: 30vw;
    min-width: fit-content;
    justify-self: center;
    align-self: start;
    text-align: center;
    border-width: 3px;
    border-style: solid;
}

.add-book{
    display: block;
    background-color: green;
    width: 30vw;
    height: 10vh;
    justify-self: center;
}

